body { margin:0; font-family:Arial; background:#f1f5f9; }
.container { display:flex; height:100vh; }

.sidebar {
width:220px;
background:#0f172a;
color:white;
padding:20px;
}

.sidebar a {
display:block;
margin:15px 0;
cursor:pointer;
}

.main { flex:1; padding:20px; }

.cards div {
background:white;
padding:20px;
border-radius:10px;
}

table {
width:100%;
background:white;
margin-top:20px;
border-collapse:collapse;
}

td {
padding:10px;
border-bottom:1px solid #eee;
}

button {
background:#22c55e;
color:white;
border:none;
padding:6px 12px;
cursor:pointer;
}
